<!-- <ion-list *ngFor="let presentation of presentations">
    <ion-card>
        <ion-card-header>
            <ion-grid>
                <ion-row>
                    <ion-col class="stat-pres-ion-col" text-wrap col-10>
                        {{ presentation.title }}
                    </ion-col>
                    <ion-col class="stat-pres-ion-col-button">
                        <button ion-button icon-only color="sun" >
                            <ion-icon name="md-settings" color="light"></ion-icon>    
                        </button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-header>
        <ion-card-content>
            <ion-item>
                <ion-datetime displayFormat="YYYY-MM-DD HH:mm" [(ngModel)]="presentation.from"> </ion-datetime>
                <ion-datetime displayFormat="YYYY-MM-DD HH:mm" [(ngModel)]="presentation.to"> </ion-datetime>
            </ion-item>
        </ion-card-content>
    </ion-card>
</ion-list> -->