<ion-list>
    <ion-item color="light">
        <ion-item color="light">
            <h2 text-wrap><b>{{ presentation.title }}</b></h2>
            <ion-badge>{{ presentation.kind }}</ion-badge>
        </ion-item>
        <ion-item color="light" *ngIf="presentation.location">
            <div text-wrap>
                <ion-icon name="md-pin"></ion-icon>
                {{ presentation.location.fullName }}
            </div>
        </ion-item>
    </ion-item>
    <ion-item color="danger">
        <ion-icon name="md-clock"></ion-icon>
        {{ presentation.from.toDate() | date: constants.hourFormat }} - {{ presentation.to.toDate() | date:
        constants.hourFormat }}
    </ion-item>
    <ion-item>
        <header><b>Résumé</b></header>
        <br>
        <div text-wrap>{{ presentation.summary }}</div>
    </ion-item>
    <ion-item *ngIf="presentation.speakers && presentation.speakers.length > 0">
        <header><b>Speakers</b></header>
        <ion-list>
            <ion-item text-wrap *ngFor="let speaker of presentation.speakers">
                <ion-avatar>
                    <img class="fix-ratio" [src]="speaker.avatarUrl"/>
                </ion-avatar>
                <b>{{ speaker.name }}</b> - {{ speaker.company }}
                <div>
                    {{ speaker.twitterId | twitterId }}
                </div>
                <div>
                    {{ speaker.bio }}
                </div>
            </ion-item>
        </ion-list>
    </ion-item>
</ion-list>