<ion-list>
    <ion-item no-lines color="light">
        <ion-item no-lines color="light">
            <h2 text-wrap><b>{{ presentation.title }}</b></h2>
            <ion-badge>{{ presentation.kind }}</ion-badge>
        </ion-item>
        <ion-item no-lines color="light" *ngIf="presentation.location">
            <div text-wrap>
                <ion-icon name="md-pin"></ion-icon>
                {{ presentation.location.fullName }}
            </div>
        </ion-item>
    </ion-item>
    <ion-item no-lines color="primary">
        <ion-icon name="md-clock"></ion-icon>
        {{ presentation.from.toDate() | date: constants.hourFormat }} - {{ presentation.to.toDate() | date: constants.hourFormat }}
    </ion-item>
    <ion-item no-lines>
        <header><b>Résumé</b></header>
        <br>
        <div text-wrap [innerHTML]="presentation.summary"></div>
    </ion-item>
    <ion-item no-lines *ngIf="presentation.speakers && presentation.speakers.length > 0">
        <header><b>Speakers</b></header>
        <ion-list>
            <ion-item no-lines text-wrap *ngFor="let speaker of presentation.speakers">
                <ion-avatar>
                    <img class="fix-ratio" [src]="speaker.avatarUrl"/>
                </ion-avatar>
                <b>{{ speaker.name }}</b> {{ speaker.company ? '- ' + speaker.company : ''}}
                <div>
                    <a (click)="openTwitterUrl(speaker.twitterId)">
                        {{ speaker.twitterId | twitterId }}
                    </a> 
                </div>
                <br>
                <div [innerHTML]="speaker.bio"></div>
            </ion-item>
        </ion-list>
    </ion-item>
</ion-list>