// ================ //
// Effects Pulse
// ================ //

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0.0;
  }

  25% {
    transform: translate(-50%, -50%) scale(0.1);
    opacity: 0.4;
  }

  50% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0.6;
  }

  75% {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0.8;
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}
