// -----------------------------------------------------------------------------
// ~ This file contains all styles related to the TABS component.
// -----------------------------------------------------------------------------

.segment-button {
  height: 32px !important;
  border-radius: 50px !important;
  line-height: 30px !important;
  font-size: 16px !important;
  border: 1px solid $primary !important;
  margin: 0 8px !important;
  text-transform: inherit !important;

  &.segment-activated {
    background: $primary-gradient;
    border-radius: 50px;
    color: $white;
  }

  &.segment-button-disabled {
    border-color: rgba(225, 34, 62, 0.3)  !important;
  }
}
