<ion-menu [content]="content">
    <ion-header>
        <ion-toolbar>
            <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-item *ngIf="user">
            <ion-avatar item-start>
                <img [src]="user.avatarUrl">
            </ion-avatar>
            <h2>{{ user.displayName }}</h2>
            <p>{{ user.login }}</p>
        </ion-item>
        <ion-list>
            <button ion-item (click)="goToHome()">Accueil</button>
            <button ion-item (click)="goToEvents()">Evenements</button>
            <button ion-item>A propos</button>
        </ion-list>
    </ion-content>
</ion-menu>