stat-item-component {

    .stat-ion-item-icon {
        font-size: 200%;
    }

    .stat-ion-item {
        text-align: center;
    }

    .stat-ion-card-content {
        text-align: center;
        font-size: 200%;
    }
}
