stat-presentation-list {
    .stat-pres-ion-card-header {
        text-align: center;
    }

    .stat-pres-ion-col {
        text-align: center;
    }

    .stat-pres-ion-col-button {
        text-align: right;
    }
}