<ion-header>
    <top-navbar title="Presentation">
        <ion-row>
            <ion-col>
                <button ion-button icon-only full color="secondary" (click)="rate(presentation)">
                    <ion-icon name="md-thumbs-up" [class.rated]="presentation?.rated"></ion-icon>
                </button>
            </ion-col>
            <ion-col *ngIf="isAuthenticated">
                <button ion-button icon-only full color="secondary" (click)="bookmark(presentation)">
                    <ion-icon name="md-star" [class.favorite]="presentation?.favorite"></ion-icon>
                </button>
            </ion-col>
        </ion-row>
    </top-navbar>
</ion-header>

<ion-content>
        <div (swipe)="swipePresentation($event)" *ngIf="presentation">
        <presentation [presentation]="presentation"></presentation>
    </div>
</ion-content>
