<ion-header>
    <top-navbar title="Presentation">
        <ion-row>
            <button class="button round medium transparent space-right-8" [class.favorite]="presentation?.favorite" ion-button icon-only full color="secondary"
                    (click)="bookmark(presentation)" *ngIf="isAuthenticated">
                <ion-icon name="md-star"></ion-icon>
            </button>
            <button class="button round medium transparent" [class.reminded]="presentation?.reminded" ion-button icon-only full color="secondary"
                    (click)="subscribeToContent(presentation)" *ngIf="isAuthenticated">
                <ion-icon name="md-notifications"></ion-icon>
            </button>
        </ion-row>
    </top-navbar>
</ion-header>

<ion-content>
    <div (swipe)="swipePresentation($event)" *ngIf="presentation">
        <presentation [presentation]="presentation" (ratePresentation)="rate($event)"></presentation>
    </div>
</ion-content>
