<ion-header>
    <top-navbar title="Jours">
        <ion-row>
            <ion-col>
                <button ion-button icon-only *ngIf="isAdmin" color="sun" (click)="navigateToEventAdminPage()">
                    <ion-icon name="md-settings" color="light"></ion-icon>
                </button>
            </ion-col>
            <ion-col>
                <button color="secondary" ion-button icon-only full (click)="displayTwitterFeed()" *ngIf="event && event.hashTag">
                    <ion-icon name="logo-twitter"></ion-icon>
                </button>
            </ion-col>
        </ion-row>
    </top-navbar>
</ion-header>

<ion-content>
    <event [event]="event" *ngIf="event" (daySelected)="navigateToPresentationsPage($event)" (adminButtonSelected)="navigateToEventAdminPage()"></event>
</ion-content>