<div class="events-list scroll-content ionic-scroll">
    <ion-list>
        <ion-item no-lines (click)="onSelectedEvent(event)" class="clickable" *ngFor="let event of events">
            <ion-avatar item-left class="fix-ratio">
                <img [src]="event.imageUrl">
            </ion-avatar>
            <ion-card-title text-wrap>
                {{ event.name }}
            </ion-card-title>
            <p>
                <ion-icon name="calendar"></ion-icon>
                {{ event.from.toDate() | date: constants.dateFormat }} - {{ event.to.toDate() | date: constants.dateFormat }}
            </p>
            <p>
                <ion-icon name="locate"></ion-icon>
                <span text-wrap>{{ event.location }}</span>
            </p>
        </ion-item>
    </ion-list>
</div>
