<div class="events-list scroll-content ionic-scroll">
    <ion-list>
        <ion-item (click)="onSelectedEvent(event)" class="clickable" *ngFor="let event of events">
            <ion-avatar item-left class="fix-ratio sep-right">
                <span class="avatar-container">
                    <img [src]="event.imageUrl" defaultImg="assets/img/default-event.png">
                </span>
            </ion-avatar>
            <ion-card-title text-wrap class="inner-space-top-0">
                {{ event.name }}
            </ion-card-title>
            <span class="label-container">
                <ion-icon name="calendar" class="align-icon"></ion-icon>
                <strong class="events-date">{{ event.from.toDate() | date: constants.dateFormat }} - {{ event.to.toDate() | date: constants.dateFormat }}</strong>
            </span>
            <span class="label-container">
                <ion-icon name="pin" class="align-icon inner-space-left-2"></ion-icon>
                <span class="events-location">{{ event.location }}</span>
            </span>
        </ion-item>
    </ion-list>
</div>
