<ion-header>
    <ion-navbar>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">Fermer</button>
        </ion-buttons>
        <ion-title color="danger">Attacher un contenu</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-item>
        <ion-label>URL</ion-label>
        <ion-input [(ngModel)]="url"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>DESCRIPTION</ion-label>
        <ion-input [(ngModel)]="description"></ion-input>
    </ion-item>
    <button ion-button color="danger" full (click)="uploadContent()">Ok</button>
    <button ion-button color="danger" full (click)="dismiss()">Annuler</button>
</ion-content>