<div>
    <ion-grid class="inner-space-top-0">
        <ion-row align-items-center="true">
            <ion-col col-6>
                <ion-avatar item-left class="fix-ratio">
                   <span class="avatar-container small">
                      <img [src]="event.imageUrl">
                   </span>
                </ion-avatar>
            </ion-col>
            <ion-col col-6>
              <h5 class="primary-text space-top-0 space-bottom-0">{{ event.name }}</h5>
            </ion-col>
        </ion-row>
    </ion-grid>
    <p class="space-top-0 inner-space-left-10" [innerHTML]="event.description"></p>
</div>
