<div>
    <ion-grid>
        <ion-row>
            <ion-avatar item-left class="fix-ratio">
                <img [src]="event.imageUrl" [style.border]="'1px solid lightgrey'">
            </ion-avatar>
        </ion-row>
        <ion-row>&nbsp;</ion-row>
        <ion-row>
            <ion-title><span class="primary-text">{{ event.name }}</span></ion-title>
        </ion-row>
        <ion-row>
            <p><ion-icon name="pin"></ion-icon> {{ event.location }}</p>
        </ion-row>
    </ion-grid>
    <br>
    <p [innerHTML]="event.description"></p>
</div>