<div>
    <ion-grid>
        <ion-row>
            <ion-col col-4>
                <ion-avatar item-left class="fix-ratio">
                    <img [src]="event.imageUrl">
                </ion-avatar>
            </ion-col>
            <ion-col col-8>
                <ion-title>{{ event.name }}</ion-title>
                <button ion-button color="sun" (click)="goToEventAdministration()">
                    <ion-icon name="md-settings" color="light"></ion-icon>
                    <ion-item color="sun">
                        Administration 
                    </ion-item>
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>
    <br>
    <p [innerHTML]="event.description"></p>
</div>