<ion-header>
    <ion-navbar>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">Fermer</button>
        </ion-buttons>
        <ion-title color="danger">Voter !</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <div>
        <bingo-rating-matrix [items]="items" (itemsSelected)="selectedItems = $event"></bingo-rating-matrix>
        <ion-row>
            <ion-col>
                <button ion-button color="danger" full (click)="submit()">Ok</button>
            </ion-col>
            <ion-col>
                <button ion-button color="danger" full (click)="dismiss()">Annuler</button>
            </ion-col>
        </ion-row>
    </div>
</ion-content>