<top-navbar [title]="'Statistiques'"></top-navbar>
<ion-content class="page-stats"> 
  <p padding>
    Equal-width columns
  </p>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>Nombre de talks</div>
      </ion-col>
      <ion-col>
        <div>Nombre de speakers</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>Favorisation</div>
      </ion-col>
      <ion-col>
        <div>Souscriptions</div>
      </ion-col>
      <ion-col>
        <div>Note moyenne</div>
      </ion-col>
    </ion-row>
</ion-grid>
</ion-content>