// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";
$img-path: "../assets/img";
$icon-path: "../assets/icon";

$font-family-base:                                     "Brandon Text", sans-serif !default;
$font-family-ios-base:                                     "Brandon Text", sans-serif !default;
$font-family-md-base:                                     "Brandon Text", sans-serif !default;

$primary-light :                                       #db2d5e !default;
$primary :                                             #e1223e !default;
$primary-gradient : linear-gradient(135deg, $primary-light 0%, $primary 100%) !default;
$primary-gradient-dark : linear-gradient(135deg, darken($primary-light, 16%) 0%, darken($primary, 16%) 100%) !default;

$twitter :                                             #1da1f2 !default;
$facebook :                                            #3b5998 !default;
$linkedin :                                            #0077b5 !default;

$white :                                               #FFFFFF !default;
$grey-special :                                        #e3e8f1 !default;
$grey-special-gradient :                               linear-gradient(135deg, $grey-special 0%, $white 100%) !default;
$grey :                                                #95989A !default;
$black :                                               #333333 !default;

$grey-line :                                           rgba($black, 0.2) !default;


// COLORS COMPONENTS
$toolbar-background:                                    transparent !default;

// METRICS COMPONENTS

$header-height: 55px;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    $primary,
  secondary:  #488aff,
  danger:     #32db64,
  light:      #f4f4f4,
  dark:       #222,
  sun:        #ffc900
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "../app/styles/vendors/font-brandon";
