<div>
    <ion-buttons end>
        <div *ngIf="!authenticatedUser">
            <button color="secondary" ion-button icon-only full (click)="auth('twitter')">
                <ion-icon name="logo-twitter"></ion-icon>
            </button>
            <button  color="secondary" ion-button icon-only full (click)="auth('facebook')">
                <ion-icon name="logo-facebook"></ion-icon>
            </button>
            <button color="secondary" ion-button icon-only full (click)="auth('linkedin')">
                <ion-icon name="logo-linkedin"></ion-icon>
            </button>
            <button color="secondary" ion-button full (click)="goToEvents()">
                Continuer en tant qu'invité
            </button>
        </div>
        <div *ngIf="authenticatedUser">
            <button color="secondary" ion-button icon-only full (click)="logout()">
                <ion-icon name="power"></ion-icon>
            </button>
            <button color="secondary" ion-button full (click)="goToEvents()">
                Liste des évènements
            </button>
            <button color="secondary" ion-button full icon-start (click)="goToFavorites()">
                <ion-icon name="md-star" color="sun"></ion-icon>
                Favoris
            </button>
        </div>
    </ion-buttons>
</div>
