<div class="login-btn">
    <ion-buttons end>
        <div *ngIf="!authenticatedUser" class="login-btn-list">
            <button class="button btn-twitter" ion-button icon-start full (click)="auth('twitter')">
                <ion-icon name="logo-twitter"></ion-icon>
                Se connecter avec Twitter
            </button>
            <button class="button btn-fb" ion-button icon-start full (click)="auth('facebook')">
                <ion-icon name="logo-facebook"></ion-icon>
                Se connecter avec Facebook
            </button>
            <!--<button class="button btn-linkedin force-space-bottom-34" ion-button icon-start full (click)="auth('linkedin')">-->
                <!--<ion-icon name="logo-linkedin"></ion-icon>-->
                <!--Se connecter avec Linkedin-->
            <!--</button>-->
            <button class="button btn-github force-space-bottom-34" ion-button icon-start full (click)="auth('github')">
                <ion-icon name="logo-github"></ion-icon>
                Se connecter avec Github
            </button>
            <button class="button white" ion-button icon-start full (click)="goToEvents()">
              <ion-icon name="person"></ion-icon>
                Continuer en tant qu'invité
            </button>
        </div>
        <div *ngIf="authenticatedUser">
          <button class="button white" ion-button icon-end full (click)="goToEvents()">
            Liste des évènements
            <ion-icon name="arrow-forward"></ion-icon>
          </button>
          <button class="button white" ion-button icon-end full (click)="goToFavorites()">
            Favoris
            <ion-icon name="arrow-forward"></ion-icon>
        </button>
          <button class="button transparent" ion-button icon-start full (click)="logout()">
              <ion-icon name="power"></ion-icon>
              Se deconnecter
          </button>
        </div>
    </ion-buttons>
</div>
