//////////////////////////////////////////
// VARIABLES
//////////////////////////////////////////

$header-height: 55px;

//////////////////////////////////////////
// COMMON
//////////////////////////////////////////

ion-grid, ion-row {
  height: calc(100%);
}

.wrap {
  white-space: normal;
}

.clickable {
  cursor: pointer;
}

ion-avatar.fix-ratio {
  img {
    border-radius: 50px;
    object-fit: scale-down;
    width: 100px !important;
    height: 100px !important;
  }
}

[right-border] {
  border-right: 2px solid darkgray;
}

//////////////////////////////////////////
// PAGES
//////////////////////////////////////////

.home-page {
  background: url($img-path + '/bg-login.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  .app-logo {
    display: block;
    height: 74px;
    margin-bottom: 12px !important;
    background: url($icon-path + '/logo.svg') no-repeat;
    background-position: center left;
  }

  .part-bottom-login {
    height: 45%;
    margin-bottom: 0;
  }

  .scroll-content {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 16px 34px;

    .home-part-top { height: 50%;}
    .home-actions { display: block; height: 50%;}
  }
}

//////////////////////////////////////////
// COMPONENTS
//////////////////////////////////////////

maps {
  display: block;
  height: 100%;
}

.events-list {
  ion-card-title {
    font-size: 1.5em;
    width: 100%;
    font-weight: bold;
    color: red;
  }
}

.rating-square {

  display: inline-block;
  width: 100% !important;
  height: 0 !important;
  padding: 0 0 100% 0 !important;
  border: 1px solid black;
  text-align: center;

  div {
    vertical-align: middle;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &.picked {
    background-color:red;
    color:white;
  }
}

.presentation-actions {
  ion-icon {
    font-size: 30px;
  }
}



//////////////////////////////////////////
// UTILS
//////////////////////////////////////////


// ===== Typo Color

.primary-text {color: #f53d3d;}
.white-text { color: white}



//////////////////////////////////////////
// IMPORT
//////////////////////////////////////////

/* ======== IMPORTS FONTS ======== */

/* === Import Brandon Text  === */

@font-face {
  font-family: "Brandon Text";
  src: url('../assets/Brandon%20Text%20Regular.otf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Brandon Text";
  src: url('../assets/Brandon%20Text%20Bold.otf') format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Brandon Text Lighter";
  src: url('../assets/fonts/Brandon%20Text%20Light.otf') format("truetype");
  font-weight: lighter;
  font-style: normal;
}
