// http://ionicframework.com/docs/v2/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// Home page
.home-page {
    background: url($img-path + '/bg-login.png');
    .app-logo {
        display: block;
        height: 70px;
        margin-bottom: 12px !important;
        background: url($icon-path + '/logo.svg') no-repeat;
        background-position: center center;
    }

    .part-bottom-login {
        height: 45%;
        margin-top: 50px;
    }
}

// Events list
.events-list {
    ion-card-title {
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: red;
    }

    img {
      object-fit: scale-down;
    }

    img {
      width: 100px !important;
      height: 100px !important;
    }
}

