// ===== Import VENDORS


// ===== Import BASE
@import "styles/base/base";
@import "styles/base/typography";

// ===== Import COMPONENTS
@import "styles/components/avatar";
@import "styles/components/buttons";
@import "styles/components/nav-menu";
@import "styles/components/tabs";

// ===== Import LAYOUT
@import "styles/layout/layout";
@import "styles/layout/header";

// ===== Import UTILS
@import "styles/utils/helpers";

// ===== Import PAGES
@import "styles/pages/login";


//////////////////////////////////////////
// COMPONENTS
//////////////////////////////////////////

maps {
  display: block;
  height: 100%;
}

.events-list {
  ion-card-title {
    font-size: 1.5em;
    width: 100%;
    font-weight: bold;
    color: red;
  }
}

.rating-square {

  display: inline-block;
  width: 100% !important;
  height: 0 !important;
  padding: 0 0 100% 0 !important;
  border: 1px solid black;
  text-align: center;

  div {
    vertical-align: middle;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &.picked {
    background-color:red;
    color:white;
  }
}

.presentation-actions {
  ion-icon {
    font-size: 30px;
  }
}
