<ion-header>
    <top-navbar title="Présentations favorites"></top-navbar>
</ion-header>

<ion-content>
    <div *ngFor="let eventPresentation of favoritePresentations">
        <h1 padding-left>{{eventPresentation.event.name}}</h1>
        <presentations-list [presentations]="eventPresentation.presentations" (presentationSelected)="navigateToPresentation($event)">
            <ng-template #presentationHeader let-header="headerTemplate">
                {{ header.from.toDate() | date: constants.hourFormat }} - {{ header.to.toDate() | date: constants.hourFormat }}
            </ng-template>
            <ng-template #presentationBody let-presentation="presentationTemplate">
                <presentations-list-item [presentation]="presentation" ></presentations-list-item>
            </ng-template>
        </presentations-list>
    </div>
    <div *ngIf="favoritePresentations?.length == 0">
        <ion-item no-lines>
            <p>Vous n'avez pas encore enregistré de présentation favorite.</p>
        </ion-item>
    </div>
</ion-content>
