<ion-header>
    <top-navbar title="Présentations favorites"></top-navbar>
</ion-header>

<ion-content>
    <div *ngFor="let eventPresentations of favoritePresentations">
        <h1>eventPresentation.event.name</h1>
        <presentations-list [presentations]="eventPresentations.presentations" (presentationSelected)="navigateToPresentation($event)">
            <ng-template #presentationHeader let-header="headerTemplate">
                {{ header.from.toDate() | date: constants.hourFormat }} - {{ header.to.toDate() | date: constants.hourFormat }}
            </ng-template>
            <ng-template #presentationBody let-presentation="presentationTemplate">
                <presentations-list-item [presentation]="presentation" ></presentations-list-item>
            </ng-template>
        </presentations-list>
    </div>
</ion-content>
