<ion-item>
    <ion-avatar item-left *ngIf="presentation.speakers && presentation.speakers[0]">
        <img [src]="presentation.speakers[0].avatarUrl"/>
    </ion-avatar>
    <h2 text-wrap>{{ presentation.title }}</h2>
    <ion-badge>{{ presentation.kind }}</ion-badge>
    <div *ngIf="presentation.location">
        <ion-icon name="md-pin"></ion-icon>
        {{ presentation.location.fullName }}
    </div>
    <div *ngIf="presentation.speakers && presentation.speakers.length > 0">
        <ion-icon name="ios-person"></ion-icon>
        {{ presentation.speakers | speakerNames }}
    </div>
    <div>
        <ion-icon name="star"></ion-icon>
        {{ presentation.favoriteCount }}
    </div>
</ion-item>