<ion-header>
    <top-navbar [title]="day?.name + ' - Présentations'"></top-navbar>
    <ion-toolbar>
        <ion-segment [(ngModel)]="presentationsFilter">
            <ion-segment-button value="allPresentations">
                Toutes
            </ion-segment-button>
            <ion-segment-button value="favoritePresentations" [disabled]="!isAuthenticated">
                Favoris
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div style="height:100%">
        <div *ngIf="presentationsFilter === 'allPresentations' && presentations">
            <presentations-list [presentations]="presentations" (presentationSelected)="navigateToPresentation($event, presentations)">
                <ng-template #presentationHeader let-header="headerTemplate">
                    {{ header.from.toDate() | date: constants.hourFormat }} - {{ header.to.toDate() | date: constants.hourFormat }}
                </ng-template>
                <ng-template #presentationBody let-presentation="presentationTemplate">
                    <presentations-list-item [presentation]="presentation" ></presentations-list-item>
                </ng-template>
            </presentations-list>
        </div>
        <div *ngIf="presentationsFilter === 'favoritePresentations' && filteredPresentations">
            <presentations-list [presentations]="filteredPresentations" (presentationSelected)="navigateToPresentation($event, filteredPresentations)">
                <ng-template #presentationHeader let-header="headerTemplate">
                    {{ header.from.toDate() | date: constants.hourFormat }} - {{ header.to.toDate() | date: constants.hourFormat }}
                </ng-template>
                <ng-template #presentationBody let-presentation="presentationTemplate">
                    <presentations-list-item [presentation]="presentation" ></presentations-list-item>
                </ng-template>
            </presentations-list>
        </div>
    </div>
</ion-content>