<ion-header>

    <ion-navbar hideBackButton="true">
        <button ion-button menuToggle icon-only>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{ day?.externalId + ' - ' + day?.name }}</ion-title>
    </ion-navbar>

</ion-header>

<ion-content>
    <div>
        <presentations-list [presentations]="presentations" (presentationSelected)="navigateToPresentation($event)">
            <ng-template #presentationHeader let-header="headerTemplate">
                {{ header.from.toDate() | date: constants.hourFormat }}
                -
                {{ header.to.toDate() | date: constants.hourFormat }}
            </ng-template>
            <ng-template #presentationBody let-presentation="presentationTemplate">
                <ion-item (click)="navigateToPresentation(presentation)">
                    <ion-avatar item-left *ngIf="presentation.speakers && presentation.speakers[0]">
                        <img [src]="presentation.speakers[0].avatarUrl"/>
                    </ion-avatar>
                    <h2 text-wrap>{{ presentation.title }}</h2>
                    <ion-badge>{{ presentation.kind }}</ion-badge>
                    <div *ngIf="presentation.location">
                        <ion-icon name="md-pin"></ion-icon>
                        {{ presentation.location.fullName }}
                    </div>
                    <div *ngIf="presentation.speakers && presentation.speakers.length > 0">
                        <ion-icon name="ios-person"></ion-icon>
                        {{ presentation.speakers | speakerNames }}
                    </div>
                    <div>
                        <ion-icon name="star"></ion-icon>
                        {{ presentation.favoriteCount }}
                    </div>
                </ion-item>
            </ng-template>
        </presentations-list>
    </div>
</ion-content>
