<top-navbar title="Administration des Evénements"></top-navbar>
<ion-content class="page-stats" *ngIf="statistic">
    <p padding></p>
    <!-- Page Header -->
    <ion-card>
        <ion-grid>
            <ion-row>
                <ion-col col-4>
                    <ion-avatar item-left class="fix-ratio">
                        <img [src]="selectedEvent.imageUrl">
                    </ion-avatar>
                </ion-col>
                <ion-col col-8>
                    <ion-title>{{ selectedEvent.name }}</ion-title>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>

    <!-- Page statistics -->
    <stats [statistic]="statistic"></stats>

    <!-- Page presentations list  -->
    <presentations-list [presentations]="presentations">
        <ng-template #presentationHeader let-header="headerTemplate">
            {{ header.from.toDate() | date: constants.dateFormat }}
            {{ header.from.toDate() | date: constants.hourFormat }} 
            - 
            {{ header.to.toDate() | date: constants.hourFormat }}
        </ng-template>
        <ng-template #presentationBody let-presentation="presentationTemplate">

            <ion-avatar>
                <img src="" />
            </ion-avatar>

            {{ presentation.title }} {{ presentation.kind }}

            <ion-icon name="md-pin"></ion-icon>
            {{ presentation.location}}

            <ion-icon name="ios-person"></ion-icon>
            {{ presentation.speakers}}
        </ng-template>
    </presentations-list>
</ion-content>