event-admin {

  .stat-ion-card-content {
    text-align: center;
    font-size: 200%;
  }

  .stat-pres-ion-col {
    text-align: center;
  }

  .stat-pres-ion-col-button {
    text-align: right;
  }
  
  .stat-pres-ion-card-header {
    text-align: center;
    font-size: 150%;
  }
}