<ion-header>
    <top-navbar title="Administration des Evénements"></top-navbar>
</ion-header>
<ion-content class="page-stats">

    <!-- Page Header -->
    <ion-card>
        <ion-grid>
            <ion-row>
                <ion-col col-4>
                    <ion-avatar item-left class="fix-ratio">
                        <img [src]="selectedEvent?.imageUrl">
                    </ion-avatar>
                </ion-col>
                <ion-col col-8>
                    <ion-title>{{ selectedEvent?.name }}</ion-title>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>

    <ion-item color="danger" class="stat-pres-ion-card-header" (click)="toggleComponent('stats')">
        <ion-label>
            Statistiques de l'application
        </ion-label>
        <ion-toggle [checked]="isComponentShown('stats')" item-end></ion-toggle>
    </ion-item>

    <!-- Page statistics -->
    <stats *ngIf="isComponentShown('stats')" [statistic]="statistic"></stats>

    <ion-item color="danger" class="stat-pres-ion-card-header" (click)="toggleComponent('talks')">
        <ion-label>
            Ajouter du contenu associé à un talk
        </ion-label>
        <ion-toggle [checked]="isComponentShown('talks')" item-end></ion-toggle>
    </ion-item>

    <!-- Page presentations list  -->
    <presentations-list *ngIf="isComponentShown('talks')" [presentations]="presentations">
        <ng-template #presentationHeader let-header="headerTemplate">
            {{ header.from.toDate() | date: constants.dateFormat }} {{ header.from.toDate() | date: constants.hourFormat }} - {{ header.to.toDate()
            | date: constants.hourFormat }}
        </ng-template>
        <ng-template #presentationBody let-presentation="presentationTemplate">
            <ion-grid>
                <ion-row>
                    <ion-col class="stat-pres-ion-col" text-wrap col-9>
                        {{ presentation.title }}
                    </ion-col>
                    <ion-col class="stat-pres-ion-col-button">
                        <button ion-button icon-only color="sun" (click)="displayAttachContentModal()">
                            <ion-icon name="md-settings" color="light"></ion-icon>
                        </button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ng-template>
    </presentations-list>
</ion-content>