<top-navbar title="Liste des évènements"></top-navbar>
<ion-content>

    <ion-slides pager>

        <ion-slide has-header>
            <events-list [events]="futureEvents" (eventSelected)="navigateToEvent($event)"></events-list>
        </ion-slide>

        <ion-slide has-header>
            <events-list [events]="pastEvents" (eventSelected)="navigateToEvent($event)"></events-list>
        </ion-slide>

        <ion-slide has-header>
            <events-list [events]="allEvents" (eventSelected)="navigateToEvent($event)"></events-list>
        </ion-slide>

    </ion-slides>

</ion-content>
