 <ion-content>
    <top-navbar title="Liste des évènements"></top-navbar>
    <ion-tabs selectedIndex="0" *ngIf="allEvents">
        <ion-tab tabTitle="Futurs" [root]="futureEventsPage" [rootParams]="{ events: futureEvents }" has-header></ion-tab>
        <ion-tab tabTitle="Passés" [root]="pastEventsPage" [rootParams]="{ events: pastEvents }" has-header></ion-tab>
        <ion-tab tabTitle="Tous" [root]="allEventsPage" [rootParams]="{ events: allEvents }" has-header></ion-tab>
    </ion-tabs>
</ion-content>
